
<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Update User</title>
</head>
<body>
	<div layout:fragment="form-body" class="col-12 col-sm-9">
		<div class="row">
			<h6>Update User</h6>
		</div>
		<hr/>
		<div class="row">
			<form th:action="@{/admin/users/update}" method="post">
				<div class="mb-3">
					<label class="form-label">ID:</label> 
					<input readonly="readonly" th:value="${user.id}" type="text" name="id" class="form-control" >
				</div>
				
				<div class="mb-3">
					<label class="form-label">Username:</label> 
					<input th:value="${user.username}" type="text" name="username" class="form-control" >
				</div>
				
				<div class="mb-3">
					<label class="form-label">Password:</label> 
					<input th:value="${user.password}" type="text" name="password" class="form-control" >
				</div>
				
				<div class="mb-3">
					<label class="form-label">Role:</label> 
					<input th:checked="${user.roles}" type="text" name="role" class="form-control" >
				</div>
				
				<div class="mb-3">
						<label for="pwd" class="form-label">Email:</label> 
						<input th:value="${user.mailUser}" type="text" class="form-control" placeholder="example@gmail.com" name="mailUser">
				</div>
				
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>