
<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>View Book</title>
</head>
<body>
	<div layout:fragment="form-body" class="col-12 col-sm-9">
		<div class="row">
			<h6>View Book</h6>
		</div>
		<hr/>
		
			<form enctype="multipart/form-data" th:object="${book}" th:action="@{/book/view}" method="get">
			<div class="row">
				<div class=" col-sm-6">
					<div class="row">
						<div class="col-sm-6">
							<div class="mb-3">
								<label class="form-label">ID:</label> 
								<input readonly="readonly" th:value="${book.id}" type="text" name="id" class="form-control">
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="mb-3">
								<label class="form-label">Tiêu đề:</label> 
								<input type="text" class="form-control" name="title" th:value="${book.title}" readonly="readonly"/>
								<p th:errors="*{title}" style="color:red"></p>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="mb-3">
								<label class="form-label">Tác giả:</label> 
								<input type="text" class="form-control" name="author" th:value="${book.author}" readonly="readonly"/>
								<p th:errors="*{author}" style="color:red"></p>
							</div>
						</div>
	
	
						<div class="mb-3">
							<label class="form-label">Mô tả về sách:</label> 
							<input type="text" class="form-control" name="desBook" th:value="${book.desBook}" readonly="readonly"></input>
						</div>
						
						<div class="col-sm-6">
							<div class="mb-3">
								<label class="form-label">Số trang sách:</label> 
								<input type="number" class="form-control" name="pageNumber" th:value="${book.pageNumber}" readonly="readonly"/>
							</div>
						</div>
						
						<div class="col-sm-6">	
							<div class="mb-3">
								<label class="form-label">Category:</label> 
								<select name="category.id" class="form-control" readonly="readonly">
									<option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id == book.category.id}" ></option>
								</select>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="mb-3">
								<label class="form-label">Price:</label> 
								<input readonly="readonly" th:value="${book.bprice} +đ" type="text" name="bprice" class="form-control">
							</div>
						</div>
					</div>

				</div>

				<div class=" col-sm-6">
					<div class="mb-3">
						<!-- <input type="file" name="file" accept="image/*" onchange="loadFile(event)"
							style="margin-left: 350px; margin-bottom: 20px;" /> 
							
						<div id="myDIV">
							<img id="output" style="width: 896px; height: 291px;"/> 
						
						</div> -->
						
						<label class="form-label">Hình ảnh:</label> 
						<div>
							<img style="width: 100%;" th:src="@{'/book/download?imageURL=' + ${book.imageURL}}"/>
						</div>
						<!-- <p th:errors="*{title}" style="color:red"></p> -->
					</div>

				</div>


			</div>


			<div class="mb-3">
				<a th:href="@{'/book/update?id=' + ${book.id}}" class="btn w3-purple" type="submit">Edit</a>
			</div>
		</form>
		
	</div>
</body>
</html>